@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --font-padrao: 'Open Sans', sans-serif;
    --font-destaque: 'Forum', cursive;
    --cor1: #E17576;
    --cor2: #E7E3D0;
    --cor-texto: #1E1E1E;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/* ==============
    HEADER
============== */
header{
    background-color: var(--cor1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.323);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.triangulo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent var(--cor2) transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: -4rem;
    left: -7.3rem;
  }

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 72px;
    height: 72px;
    z-index: 1;
}

.logo h1{
    margin-left: 3rem;
    font-family: var(--font-destaque);
    font-size: 5.5rem;
    color: white;
    white-space: nowrap;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    list-style: none;
}

.nav-item{
    margin: 0 2.5rem;
    font-family: var(--font-padrao);
    font-weight: lighter;
    text-align: left;
    white-space: nowrap;
}


.nav-link{
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.nav-link:hover{
    background-color: var(--cor2);
    padding: 0.5rem 1rem;
    color: var(--cor-texto);
}

#icon-hamburguer{
    display: none;
}

.mobile-menu{
    display: none;
}

/* ==============
        MAIN
============== */

main{
    background-color: white;
}

#a-miracle{
    background-color: var(--cor1);
    margin: 6rem;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.419);
}

.conteudo{
    margin: 5rem 2rem;
}

.conteudo p{
    font-size: 2.8rem;
    color: white;
    font-family: var(--font-padrao);
    font-weight: lighter;
    max-width: 50rem;
}

.conteudo h1{
    font-size: 12.8rem;
    font-family: var(--font-destaque);
    font-weight: lighter;
}

.conteudo button{
    background-color: #D9D9D9;
    padding: 1rem 2rem;
    font-size: 2.8rem;
    border: none;
    margin-top: 5rem;
    cursor: pointer;
    opacity: 0.9;
}

.conteudo button:hover{
    opacity: 1;
}

.imagem{
    display: flex;
    
}

.imagem img{
    max-width: 100%;
    max-height: 100%;
    width: 490px;
    height: 490px; 
}

/* ==============
        Aside
============== */

aside{
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 2rem;
}

aside i{
    font-size: 3rem;
}

/* ==============
       About
============== */
#about{
    background-image: url(img/fundo-about.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

.conteudo-about h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 6.4rem;
    font-weight: lighter;
    padding: 4rem 4rem;
    white-space: nowrap;
}

.conteudo-about p{
    color: white;
    font-family: var(--font-padrao);
    padding: 1rem 4rem;
    max-width: 59rem;
    text-align: justify;
}
.img-about{
    display: flex;
    align-items: center;
}

/* ==============
    TRABALHOS
============== */

#trabalhos{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* justify-content: center; */
    /* align-items: start; */
    
}

#trab-conteudo{
    display: flex;
    align-self: center;
}


#trabalhos h1{
    font-family: var(--font-padrao);
    font-size: 4rem;
    font-weight: lighter;
    background-color: var(--cor1);
    color: white;
    max-width: 350px;
    text-align: center;
    margin: 3rem 0 5rem 0;
    /* margin-left: 8.5rem; */
}

#trab-img{
    display: flex;
    width: 90vw;

}

.trab-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 50px;
}

.painel{
    border-radius: 20px;
    cursor: pointer;
    max-width: 100%;
    
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.painel:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* ==============
    MIRACLE
============== */

#miracle{
    background-image: url(img/fundo-miracle.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.conteudo-miracle{
    text-align: center;
}

.conteudo-miracle h1{
    background-color: white;
    color: var(--cor1);
    font-family: var(--font-destaque);
    font-weight: lighter;
    font-size: 10rem;

    margin: auto;
    max-width: 400px;
    max-height: 100px;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.393);
}

.conteudo-miracle p{
    margin: 10px;
    font-size: 2.4rem;
    color: white;
    font-family: var(--font-padrao);
}

.bloco-conteudo{
    display: flex;
    row-gap: 50px;
}

.bloco-conteudo p{
    background-color: var(--cor2);
    color: var(--cor1);
    font-size: 2rem;
    padding: 15px;
    max-width: 400px;
    margin-top: 60px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.204);
    /* margin: 20px 40px; */
    /* margin: 50px 150px; */
}

/* ==============
        SUGESTOES
    ============== */

    #sugestoes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }

    .form-sugestoes{
        background-color: var(--cor2);
        max-width: 1500px;
        padding: 30px;
    }

    .form-sugestoes h1{
        font-family: var(--font-destaque);
        font-size: 4rem;
        font-weight: lighter;
    }

    .form-sugestoes p{
        font-family: var(--font-padrao);
        font-size: 2.4rem;
        color: black;
        margin: 10px 0;
    }

    .text-form{
        display: flex;  
    }

    .text-form p{
        color: var(--cor1);
    }

    .text-form input{
        background-color: var(--cor1);
        border: none;
        max-width: 1068px;
        width: 487px;
        max-height: 96px;
        height: 47px;
        margin: 10px;
        font-size: 2rem;
    }

     .input-mensagem{
        max-width: 1068px;
        width:1068px ;
        height: 96px;
        background-color: #E17576;
        border: none;
    }



/* ==============
    MEDIA QUERIES
============== */
@media(max-width:1350px){

    /* ==============
        HEADER
    ============== */
    .logo h1{
        font-size: 4.5rem;
    }

    .logo h1{
        margin-left: 1.5rem;
    }
    .nav-link{
        font-size: 2rem;
    }

    /* ==============
        MAIN
    ============== */
    .conteudo p{
        font-size: 2rem;
    }
    
    .conteudo h1{
        font-size: 11rem;
    }

    .imagem img{
        width: 400px;
        height: 400px; 
        top: 5rem;
        right: 10rem;
    
    }

    .conteudo button{
        padding: 1rem 2rem;
        font-size: 2rem;
    }
    /* ==============
        About
    ============== */
    .img-about img{
        width: 40rem;
        height: 40rem;
    }

    /* ==============
        MIRACLE
    ============== */
    .conteudo-miracle h1{
        font-size: 8rem;
    }

    .bloco-conteudo p{
        margin-top: 10px;
    }
}

@media (max-width:1152px){
    #miracle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo-miracle h1{
        margin-top: 30px;
    }
    .bloco-conteudo{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
        align-items: center;
    }

    /* ==============
        SUGESTOES
    ============== */

    .text-form{
        flex-direction: column;  
    }

    .input-mensagem{
        width:800px ;
    }
}

@media(max-width:1020px){
    
    /* ==============
        HEADER
    ============== */
    header{
        box-shadow: none;
        border-bottom: solid 5px white;
    }

    .nav-list{
        display: none;
    }

    .mobile-menu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #icon-hamburguer{
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    .mobile-menu .nav-item{
        margin: 1.5rem 0rem;
    }

    .open{
        display: block;
    }

    /* ==============
        MAIN
    ============== */
    #a-miracle{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 5rem 0;
        box-shadow: none;
    }

    .conteudo h1{
        font-size: 7rem;
    }

    .conteudo p {
        margin: 1.6rem 0;
    }

    .conteudo button{
        margin-top: 2rem;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/* ==============
        Aside
============== */

    aside{
        margin-top: 3rem;
        padding: 0 2rem;
        font-size: 1.6rem;
    }

    /* ==============
        About
    ============== */
    #about{
        align-items: center;
        flex-direction: column;
    }

    /* ==============
        SUGESTOES
    ============== */
    #sugestoes{
        margin: 50px 0;
    }
}

@media (max-width:865px){
    .form-sugestoes h1{
        font-size: 3rem;
    }

    .form-sugestoes p{
        font-size: 1.6rem;
    }

    .text-form p{
        color: var(--cor1);
    }

    .text-form input{
        width: 400px;
        height: 37px;
        margin: 10px;
        font-size: 1.6rem;
    }

    .input-mensagem{
        width:500px ;
        height: 80px;
    }
}

@media (max-width:545px){

    /* ==============
        HEADER
    ============== */
    .logo img{
        width: 40px;
        height: 40px;
        margin-left: -1.1rem;
    }

    .logo h1{
        font-size: 2.5rem;
    }

    #icon-hamburguer{
        margin-left: 2rem;
        font-size: 2.5rem;
    }

    .triangulo {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 60px 60px 60px;
        border-color: transparent transparent var(--cor2) transparent;
        transform: rotate(-45deg);
        position: absolute;
        top: -1.4rem;
        left: -4rem;
    
      }

    /* ==============
        About
    ============== */       

    .conteudo-about h1{
        padding: 2rem 0 0 0;
        text-align: center;
        font-size: 3.5rem;
    }
    .conteudo-about p{
      font-size: 1.3rem;
      text-align: center;

    }

    .img-about img{
        width: 30rem;
        height: 30rem;
    }

    /* ==============
        TRABALHO
    ============== */ 

    #trabalhos h1{
        font-size: 3rem;
    }

    /* ==============
        MIRACLE
    ============== */ 

    .img-miracle img{
        width: 400px;
        height: 496px;
    }

    .conteudo-miracle h1{
        font-size: 6rem;
    }

    .conteudo-miracle p{
        font-size: 2.2rem;
    }

    .bloco-conteudo p{
        font-size: 1.8rem;
    }

    /* ==============
        SUGESTOES
    ============== */

    .form-sugestoes h1{
        text-align: center;
    }

    .form-sugestoes p{
        text-align: center;
    }

    .text-form input{
        width: 280px;
        height: 37px;
        font-size: 1.6rem;
    }

    .input-mensagem{
        width:280px ;
        height: 80px;
    }
}




